<template>
    <div class="flex items-center bg-blue-300 rounded-full">
        <img class=" mx-1 my-1 inline-block h-5 w-5 rounded-full" src="https://www.vhv.rs/dpng/d/186-1869796_emoji-clipart-unicorn-clip-unicorn-png-free-transparent.png" alt="">
        <span class="mr-4 text-blue-900 text-sm font-medium mx-1 capitalize">{{ pseudo }}</span>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
    props: {
        pseudo: {
            type: String,
            required: true
        }
    },
    setup (props) {
        const pseudo = props.pseudo

        return { pseudo }
    }
})
</script>

<style scoped>

</style>
