<template>
    <ul class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <li v-for="(game, id) in games" :key="id" class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
            <div class="w-full flex items-center justify-between p-6 space-x-6">
                <div class="flex-1 truncate">
                    <div class="flex flex-col">
                    <div class="flex justify-between">
                        <h2 class="text-gray-900 text-xl font-medium">{{ game.name }}</h2>
                        <user-badge :pseudo="game.owner.pseudo" />
                    </div>
                    <h3 class="text-gray-500 text-xs font-medium">{{ id }}</h3>
                    <!-- <span class="flex-shrink-0 inline-block px-2 py-0.5 text-green-800 text-xs font-medium bg-green-100 rounded-full">Admin</span> -->
                    </div>
                </div>
            </div>
            <div>
            <div class="-mt-px flex divide-x divide-gray-200">
                <div class="w-0 flex-1 flex">
                <a @click.prevent="$router.push(`/game/${id}`)" href="#" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-blue-700 font-medium border border-transparent rounded-bl-lg hover:bg-blue-100">
                    <!-- Heroicon name: mail -->
                    <svg class="w-6 h-6 text-blue-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
                    <span class="ml-3">Join</span>
                </a>
                </div>
                <div class="-ml-px w-0 flex-1 flex">
                <a @click.prevent="destroy(id)" href="#" class="relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-red-700 font-medium border border-transparent rounded-br-lg hover:bg-red-100">
                    <!-- Heroicon name: phone -->
                    <svg class="w-6 h-6 text-red-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                    <span class="ml-3">Delete</span>
                </a>
                </div>
            </div>
            </div>
        </li>
    </ul>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import gameApi from '../api/games'
const gamesController = new gameApi()

import UserBadge from '../components/user/Badge.vue'

export default defineComponent({
    components: {
        UserBadge,
    },
    setup () {
        const games = ref({})
        const destroy = (id) => gamesController.destroy(id)

        gamesController.index().then(snapshot => {
            games.value = snapshot.val()
        })

        gamesController.watchAll(snapshot => {
            games.value = snapshot.val()
        })



        return { games, destroy }
    }
})
</script>

<style scoped>

</style>
