<template>
    <div>
        <div class="flex items-center">
            <h2 class="text-xl font-semibold text-gray-900">{{ game.name }}</h2>
            <div class="ml-4 flex">
                <user-badge :pseudo="game.owner.pseudo" />
            </div>
        </div>
        <span>Tour: {{ game.cards[game.cards.length - 1].turn }}</span>
        <div class="flex">
            <div class="flex flex-col">
                <span v-for="action in game.cards[game.cards.length - 1].actions" :key="action" >{{ action.action }}</span>
            </div>
            <div class="flex flex-col">
                <span v-for="number in game.cards[game.cards.length - 1].numbers" :key="number" >{{ number.number }}</span>
            </div>
        </div>

        <button v-if="isAdmin" @click="nextTurn()">Tour suivant</button>
        <button v-if="isAdmin" class="ml-4" @click="reset()">Reset</button>
    </div>
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from 'vue'

import { Cards } from '../modules/shims-welcome-to'

import { cards, shuffle, getDecks } from '../modules/welcome-to'

import firebase from '../modules/firebase'
import gamesApi from '../api/games'

import gameApi from '../api/games'
import { Game } from '../api/shims-api'
const gamesController = new gameApi()

import UserBadge from '../components/user/Badge.vue'
import { useStore } from 'vuex'

export default defineComponent({
    components: {
        UserBadge
    },
    props: ['gameId'],
    setup (props, ctx) {
        const game: Ref<Game> = ref({})

        gamesController.watch(props.gameId, snapshot => {
            game.value = snapshot.val()
        })

        const store = useStore()

        const currentUser = store.getters['user/getUser']

        let isAdmin = false

        if (currentUser.id === game.value.owner.id) {
            isAdmin = true
        }

        // Game
        let shuffled = shuffle([...cards])
        let decks = ref(getDecks(shuffled, 3))
        let turn = ref(0)
        let actions = ref([])
        let numbers = ref([])


        function updateGame() {
            if (!game.value.cards) {
                game.value.cards = []
            }
            
            const round = {
                turn: turn.value,
                actions: actions.value,
                numbers: numbers.value
            }

            game.value.cards.push(round)

            gamesController.update(props.gameId, game.value)
        }

        function deal() {
            if (turn.value !== 0) {
                numbers.value = actions.value
                actions.value = []
            }

            for (const deck in decks.value) {
                const cards = decks.value[deck]

                if (turn.value === 0) {
                    numbers.value.push(cards.pop())
                }
                actions.value.push(cards.pop())
            }

            updateGame()
        }

        function startGame() {
            turn.value = 0
            decks.value = getDecks(shuffle([...cards]), 3)
            deal()

        }

        function nextTurn() {
            turn.value ++
            if (decks.value.map(deck => deck.length === 0).filter(value => value === true)) {
                decks.value = getDecks(shuffle([...cards]), 3)
            }
            deal()
        }

        function reset() {
            turn.value = 0
            history.value = []
            numbers.value = []
            actions.value = []
            deal()
            decks.value = getDecks(shuffle([...cards]), 3)
        }

        if (isAdmin) {
            startGame()
        }

        return { decks, turn, nextTurn, reset, numbers, actions, history, game, isAdmin }
    }
})
</script>

<style scoped>

</style>
