<template>
    <div class="flex justify-between">
        <div class="w-1/2 mx-2 bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Rejoindre une partie
                </h3>
                <div class="mt-2 max-w-xl text-sm text-gray-500">
                    <p>
                        Pour rejoindre une partie, veuillez entrer l'identifiant de la partie
                    </p>
                </div>
                <form @submit.prevent="join()" class="mt-5 sm:flex sm:items-center">
                    <div class="max-w-xs w-full">
                        <label for="email" class="sr-only">Id</label>
                        <input v-model="id" type="text" class="p-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="-MMfKG7gQJ84NNhn-Lfn">
                        <p v-if="error.isError && error.reference === 'home.id'" class="mt-1 text-xs text-red-500">{{ error.msg }}</p>
                    </div>
                    <button type="submit" class="mt-3 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Rejoindre
                    </button>
                </form>
            </div>
        </div>
        <div class="w-1/2 mx-2 bg-white shadow sm:rounded-lg">
            <div class="px-4 py-5 sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Creer une partie
                </h3>
                <div class="mt-2 max-w-xl text-sm text-gray-500">
                    <p>
                        Pour creer une partie, veuillez entrer le nom de la partie
                    </p>
                </div>
                <form @submit.prevent="create()" class="mt-5 sm:flex sm:items-center">
                    <div class="max-w-xs w-full">
                        <label for="email" class="sr-only">name</label>
                        <input v-model="name" type="text" class="p-2 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Ma petite partie">
                        <p v-if="error.isError && error.reference === 'home.name'" class="mt-1 text-xs text-red-500">{{ error.msg }}</p>
                    </div>
                    <button type="submit" class="mt-3 w-full inline-flex items-center justify-center px-4 py-2 border border-transparent shadow-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Creer
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useStore } from 'vuex'

import gameApi from '../api/games'
const gameController = new gameApi()

export default defineComponent({
    setup () {
        const store = useStore()

        const id = ref('')
        const error = ref({ isError: false, msg: '', reference: '' })
        async function join() {
            error.value.isError = false

            if (id.value.length === 0) {
                error.value.isError = true
                error.value.reference = 'home.id'
                error.value.msg = "Vous devez entrer un id pour rejoindre une partie"
                return
            }

            const snap = await gameController.show(id.value)

            if (!snap.exists()) {
                error.value.isError = true
                error.value.reference = 'home.id'
                error.value.msg = "La partie que vou cherchez n'existe pas..."
                return
            }

            this.$router.push(`/game/${id.value}`)

        }

        const name = ref('')
        async function create() {
            if (name.value.length === 0) {
                error.value.isError = true
                error.value.reference = 'home.name'
                error.value.msg = "Vous devez entrer un nom pour créer une partie"
                return
            }

            const game = {
                name: name.value,
                owner: store.getters['user/getUser']
            } 
            const snap = await gameController.store(game)
            this.$router.push(`/game/${snap.key}`)
        }

        return { id, join, name, create, error }
    }
})
</script>

<style scoped>

</style>
