<template>
    <div class="w-screen min-h-screen bg-white flex">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
        <div>
            <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
                {{ authType === 'login' ? 'Sign in to your account' : 'Register a new account' }}
            </h2>
            <p class="mt-2 text-sm text-gray-600 max-w">
            {{ authType === 'login' ? 'Or' : 'Already have an account ?' }}
                <a v-if="authType === 'login'" @click.prevent="authType = 'register'" href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Create an account
                </a>
                <a v-if="authType === 'register'" @click.prevent="authType = 'login'" href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Sign in
                </a>
            </p>
        </div>

        <div class="mt-8">
            <div class="mt-6">
                <login-form v-if="authType === 'login'" />
                <register-form v-if="authType === 'register'" />
            </div>
        </div>
        </div>
    </div>
    <div class="hidden lg:block relative w-0 flex-1">
        <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="">
    </div>
    </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from 'vue'

import LoginForm from '../components/auth/LoginForm.vue'
import RegisterForm from '../components/auth/RegisterForm.vue'

export default defineComponent({
    components: {
        LoginForm,
        RegisterForm
    },
    setup () {
        const authType = ref('login')

        return { authType }
    }
})
</script>

<style scoped>

</style>
