<template>
  <component :is="$route.meta.layout">
    <router-view></router-view>
  </component>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import layoutDefault from './layouts/default.vue'
import layoutSimple from './layouts/simple.vue'

export default defineComponent({
  components: {
    simple: layoutSimple,
    default: layoutDefault
  },
  setup () {
    
  },
})
</script>

<style scoped>

</style>
