<template>
    <form @submit.prevent="login()" action="#" method="POST" class="space-y-6">
        <div>
        <label for="email" class="block text-sm font-medium text-gray-700">
            Email address
        </label>
        <div class="mt-1">
            <input v-model="email" id="email" type="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        </div>

        <div class="space-y-1">
        <label for="password" class="block text-sm font-medium text-gray-700">
            Password
        </label>
        <div class="mt-1">
            <input v-model="password"  id="password" type="password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        </div>

        <div class="flex items-center justify-between">
        <div class="flex items-center">
            <input id="remember_me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="remember_me" class="ml-2 block text-sm text-gray-900">
                Remember me
            </label>
        </div>

        <div class="text-sm">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Forgot your password?
            </a>
        </div>
        </div>

        <div class="relative">
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Sign in
            </button>
            <span v-if="error" class="absolute mt-2 text-xs text-red-500">{{ error.message }}</span>
        </div>
    </form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import firebase from '../../modules/firebase'

import userApi from '../../api/users'
const userController = new userApi()

export default defineComponent({
    setup () {
        const email = ref('')
        const password = ref('')
        const error = ref({})        

        return { email, password, error }
    },
    methods: {
        async login() {
            this.error = {}
            try {
                const response = await firebase.auth().signInWithEmailAndPassword(this.email, this.password)

                const snap = await userController.show(response.user.uid)

                await this.$store.commit('user/set_user', {
                    id: response.user.uid,
                    ...snap.val()
                })
                
                this.$router.push({ name: 'Home'})
            } catch (err) {
                this.error = err
            }
        }
    }
})
</script>

<style scoped>

</style>
