<template>
    <form @submit.prevent="register()" action="#" method="POST" class="space-y-6">
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
                Pseudo
            </label>
            <div class="mt-1">
                <input v-model="pseudo" id="pseudo" type="text" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
        </div>
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">
                Email address
            </label>
            <div class="mt-1">
                <input v-model="email" id="email" type="email" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
        </div>

        <div class="space-y-1">
            <label for="password" class="block text-sm font-medium text-gray-700">
                Password
            </label>
            <div class="mt-1">
                <input v-model="password"  id="password" type="password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
        </div>

        <div class="space-y-1">
            <label for="password_confirmation" class="block text-sm font-medium text-gray-700">
                Confirm Password
            </label>
            <div class="mt-1">
                <input v-model="password_confirmation"  id="password_confirmation" type="password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
        </div>

        <div class="relative">
            <button type="submit" class="w-full flex justify-center mt-4 py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Register
            </button>
            <span v-if="error" class="absolute mt-2 text-xs text-red-500">{{ error.message }}</span>
        </div>
    </form>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

import firebase from '../../modules/firebase'
import userApi from '../../api/users'
const userController = new userApi()

export default defineComponent({
    setup () {
        const pseudo = ref('')
        const email = ref('')
        const password = ref('')
        const password_confirmation = ref('')
        const error = ref({})

        return { pseudo, email, password, password_confirmation, error }
    },
    methods: {
        async register() {
            if (!this.pseudo.length) {
                this.error = { message: 'You need to enter a pseudo...'}
                return
            }

            if (this.pseudo.length < 6) {
                this.error = { message: 'Your pseudo need to have more than 6 characters...'}
                return
            }

            if (this.password !== this.password_confirmation) {
                this.error = { message: 'The password doesn\'t match...'}
                return
            }

            const createdUser = await firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
            
            const user = {
                id: createdUser.user.uid,
                email: createdUser.user.email,
                pseudo: this.pseudo,
            }

            try {
                const snap = await userController.store(user)
    
                await this.$store.commit('user/set_user', {
                    id: createdUser.user.uid,
                    ...snap.val()
                })
    
                this.$router.push({ name: 'Home' })
            } catch (err) {
                this.error = err
            }
        }
    }
})
</script>

<style scoped>

</style>
